src/node-red/Admin_page_14082023.json
[
    {
        "id": "8c63d042da55db98",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 1,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "df95ec3bf723e73a"
            ]
        ]
    },
    {
        "id": "433a8668aacebae1",
        "type": "mqtt out",
        "z": "4549d2e4011af89a",
        "name": "",
        "topic": "ICW503/IoT",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "82351cecb8fdb157",
        "x": 570,
        "y": 520,
        "wires": []
    },
    {
        "id": "a38dd04c76c240af",
        "type": "debug",
        "z": "4549d2e4011af89a",
        "name": "debug 36",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 240,
        "wires": []
    },
    {
        "id": "cdaaabf2b9b75623",
        "type": "inject",
        "z": "4549d2e4011af89a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "{\"Type\":\"IoT_station\", \"Row\":1, \"Col\":1, \"Status\":\"Open\"}",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "df95ec3bf723e73a"
            ]
        ]
    },
    {
        "id": "df95ec3bf723e73a",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":1, \"Col\":1, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 240,
        "wires": [
            [
                "a38dd04c76c240af",
                "1ce42a2f4d1650c6"
            ]
        ]
    },
    {
        "id": "ce31b319b5b94c97",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 2,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "06966d4c871dac0a"
            ]
        ]
    },
    {
        "id": "06966d4c871dac0a",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":1, \"Col\":2, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 300,
        "wires": [
            [
                "1ce42a2f4d1650c6"
            ]
        ]
    },
    {
        "id": "6854ba6e4dc1fee2",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 3,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "3",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "89737245334479da"
            ]
        ]
    },
    {
        "id": "89737245334479da",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":1, \"Col\":3, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 360,
        "wires": [
            [
                "1ce42a2f4d1650c6"
            ]
        ]
    },
    {
        "id": "9a979333a062710d",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 4,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "4",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "6b8bcd4bdeed567a"
            ]
        ]
    },
    {
        "id": "6b8bcd4bdeed567a",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":1, \"Col\":4, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 420,
        "wires": [
            [
                "1ce42a2f4d1650c6"
            ]
        ]
    },
    {
        "id": "aa44665d8808d9e3",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 5,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "5",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 150,
        "y": 500,
        "wires": [
            [
                "605cd3cb32a54260"
            ]
        ]
    },
    {
        "id": "605cd3cb32a54260",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":1, \"Col\":5, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 500,
        "wires": [
            [
                "1ce42a2f4d1650c6"
            ]
        ]
    },
    {
        "id": "a31a1ac033a87c56",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 6,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "6",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 150,
        "y": 560,
        "wires": [
            [
                "bf5f818a4da078f1"
            ]
        ]
    },
    {
        "id": "bf5f818a4da078f1",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":1, \"Col\":6, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 560,
        "wires": [
            [
                "1ce42a2f4d1650c6"
            ]
        ]
    },
    {
        "id": "9b4b8e3e6a53752d",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 7,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "7",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 150,
        "y": 620,
        "wires": [
            [
                "e3254a57fd45deaa"
            ]
        ]
    },
    {
        "id": "e3254a57fd45deaa",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":1, \"Col\":7, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 620,
        "wires": [
            [
                "1ce42a2f4d1650c6"
            ]
        ]
    },
    {
        "id": "ea551de0a725e74f",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 8,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "8",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 150,
        "y": 680,
        "wires": [
            [
                "e9a5e44a7131c0f8"
            ]
        ]
    },
    {
        "id": "e9a5e44a7131c0f8",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":1, \"Col\":8, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 680,
        "wires": [
            [
                "1ce42a2f4d1650c6"
            ]
        ]
    },
    {
        "id": "74ba5140e151b194",
        "type": "comment",
        "z": "4549d2e4011af89a",
        "name": "Row 1",
        "info": "",
        "x": 150,
        "y": 120,
        "wires": []
    },
    {
        "id": "c0d12689da086bf9",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 9,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "9",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 790,
        "y": 240,
        "wires": [
            [
                "66129020d22678d1"
            ]
        ]
    },
    {
        "id": "174236421432ff55",
        "type": "mqtt out",
        "z": "4549d2e4011af89a",
        "name": "",
        "topic": "ICW503/IoT",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "82351cecb8fdb157",
        "x": 1210,
        "y": 520,
        "wires": []
    },
    {
        "id": "e49d03c96c78f4df",
        "type": "debug",
        "z": "4549d2e4011af89a",
        "name": "debug 37",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 380,
        "wires": []
    },
    {
        "id": "100efa4584103502",
        "type": "inject",
        "z": "4549d2e4011af89a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "{\"Type\":\"IoT_station\", \"Row\":1, \"Col\":1, \"Status\":\"Open\"}",
        "payload": "",
        "payloadType": "date",
        "x": 800,
        "y": 180,
        "wires": [
            [
                "66129020d22678d1"
            ]
        ]
    },
    {
        "id": "66129020d22678d1",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":2, \"Col\":1, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 240,
        "wires": [
            [
                "e49d03c96c78f4df",
                "19e3bc505a0ec7b4"
            ]
        ]
    },
    {
        "id": "b2e8f8942f1e380f",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 10,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "10",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 790,
        "y": 300,
        "wires": [
            [
                "a5b38df3616d5e62"
            ]
        ]
    },
    {
        "id": "a5b38df3616d5e62",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":2, \"Col\":2, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 300,
        "wires": [
            [
                "19e3bc505a0ec7b4"
            ]
        ]
    },
    {
        "id": "ad82da75935829b5",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 11,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "11",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 790,
        "y": 360,
        "wires": [
            [
                "09a43fa3c49c32bb"
            ]
        ]
    },
    {
        "id": "09a43fa3c49c32bb",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":2, \"Col\":3, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 360,
        "wires": [
            [
                "19e3bc505a0ec7b4"
            ]
        ]
    },
    {
        "id": "79927dbef617f7fe",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 12,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "12",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 790,
        "y": 420,
        "wires": [
            [
                "66e8e2ed54b24939"
            ]
        ]
    },
    {
        "id": "66e8e2ed54b24939",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":2, \"Col\":4, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 420,
        "wires": [
            [
                "19e3bc505a0ec7b4"
            ]
        ]
    },
    {
        "id": "9a5265a440554ff5",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 13,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "13",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 790,
        "y": 500,
        "wires": [
            [
                "e90072d3c04f9f9a"
            ]
        ]
    },
    {
        "id": "e90072d3c04f9f9a",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":2, \"Col\":5, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 500,
        "wires": [
            [
                "19e3bc505a0ec7b4"
            ]
        ]
    },
    {
        "id": "194b097c8254fa85",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 14,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "14",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 790,
        "y": 560,
        "wires": [
            [
                "2e94f870ae51967f"
            ]
        ]
    },
    {
        "id": "2e94f870ae51967f",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":2, \"Col\":6, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 560,
        "wires": [
            [
                "19e3bc505a0ec7b4"
            ]
        ]
    },
    {
        "id": "353bf4b4ca67ff16",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 15,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "15",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 790,
        "y": 620,
        "wires": [
            [
                "4026549604ddf16a"
            ]
        ]
    },
    {
        "id": "4026549604ddf16a",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":2, \"Col\":7, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 620,
        "wires": [
            [
                "19e3bc505a0ec7b4"
            ]
        ]
    },
    {
        "id": "3ebe8abf7e7beaf0",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 16,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "16",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 790,
        "y": 680,
        "wires": [
            [
                "286ff55f88253a77"
            ]
        ]
    },
    {
        "id": "286ff55f88253a77",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":2, \"Col\":8, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 680,
        "wires": [
            [
                "19e3bc505a0ec7b4"
            ]
        ]
    },
    {
        "id": "ed4eb0f1d2349311",
        "type": "comment",
        "z": "4549d2e4011af89a",
        "name": "Row 2",
        "info": "",
        "x": 790,
        "y": 120,
        "wires": []
    },
    {
        "id": "ca6c6a3ea86074af",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 17,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "17",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 150,
        "y": 880,
        "wires": [
            [
                "2327242d2cdb3cc8"
            ]
        ]
    },
    {
        "id": "49ad10a99f35dc07",
        "type": "mqtt out",
        "z": "4549d2e4011af89a",
        "name": "",
        "topic": "ICW503/IoT",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "82351cecb8fdb157",
        "x": 570,
        "y": 1160,
        "wires": []
    },
    {
        "id": "5557f4e65aed63fe",
        "type": "debug",
        "z": "4549d2e4011af89a",
        "name": "debug 38",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 1020,
        "wires": []
    },
    {
        "id": "88fe722676945e37",
        "type": "inject",
        "z": "4549d2e4011af89a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "{\"Type\":\"IoT_station\", \"Row\":1, \"Col\":1, \"Status\":\"Open\"}",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 820,
        "wires": [
            [
                "2327242d2cdb3cc8"
            ]
        ]
    },
    {
        "id": "2327242d2cdb3cc8",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":3, \"Col\":1, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 880,
        "wires": [
            [
                "5557f4e65aed63fe",
                "452dbbe117ae1e2c"
            ]
        ]
    },
    {
        "id": "ee68c358bf3f3892",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 18,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "18",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 150,
        "y": 940,
        "wires": [
            [
                "9e38b4b26e19dd78"
            ]
        ]
    },
    {
        "id": "9e38b4b26e19dd78",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":3, \"Col\":2, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 940,
        "wires": [
            [
                "452dbbe117ae1e2c"
            ]
        ]
    },
    {
        "id": "3018e80c3c30e9e5",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 19,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "19",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 150,
        "y": 1000,
        "wires": [
            [
                "f04628a6d6fb3b10"
            ]
        ]
    },
    {
        "id": "f04628a6d6fb3b10",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":3, \"Col\":3, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1000,
        "wires": [
            [
                "452dbbe117ae1e2c"
            ]
        ]
    },
    {
        "id": "8c42755227db85ce",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 20,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "20",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 150,
        "y": 1060,
        "wires": [
            [
                "251f10fa83c6b4cd"
            ]
        ]
    },
    {
        "id": "251f10fa83c6b4cd",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":3, \"Col\":4, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1060,
        "wires": [
            [
                "452dbbe117ae1e2c"
            ]
        ]
    },
    {
        "id": "50eca076548557db",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 21,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "21",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 150,
        "y": 1140,
        "wires": [
            [
                "35bb2e019d81cee2"
            ]
        ]
    },
    {
        "id": "35bb2e019d81cee2",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":3, \"Col\":5, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1140,
        "wires": [
            [
                "452dbbe117ae1e2c"
            ]
        ]
    },
    {
        "id": "05f89f797055e4e5",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 22,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "22",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 150,
        "y": 1200,
        "wires": [
            [
                "8c9a49e0b7907288"
            ]
        ]
    },
    {
        "id": "8c9a49e0b7907288",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":3, \"Col\":6, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1200,
        "wires": [
            [
                "452dbbe117ae1e2c"
            ]
        ]
    },
    {
        "id": "56c5649436cf25db",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 23,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "23",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 150,
        "y": 1260,
        "wires": [
            [
                "a9b3ac65993b9a9d"
            ]
        ]
    },
    {
        "id": "a9b3ac65993b9a9d",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":3, \"Col\":7, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1260,
        "wires": [
            [
                "452dbbe117ae1e2c"
            ]
        ]
    },
    {
        "id": "d9b18c446f525bb1",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 24,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "24",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 150,
        "y": 1320,
        "wires": [
            [
                "49111a865e701825"
            ]
        ]
    },
    {
        "id": "49111a865e701825",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":3, \"Col\":8, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1320,
        "wires": [
            [
                "452dbbe117ae1e2c"
            ]
        ]
    },
    {
        "id": "5ab678c56e0f4780",
        "type": "comment",
        "z": "4549d2e4011af89a",
        "name": "Row 3",
        "info": "",
        "x": 150,
        "y": 760,
        "wires": []
    },
    {
        "id": "56f112c61e167deb",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 25,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "25",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 790,
        "y": 880,
        "wires": [
            [
                "db455ede75fb2548"
            ]
        ]
    },
    {
        "id": "e84c9d1320aa82a5",
        "type": "mqtt out",
        "z": "4549d2e4011af89a",
        "name": "",
        "topic": "ICW503/IoT",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "82351cecb8fdb157",
        "x": 1210,
        "y": 1160,
        "wires": []
    },
    {
        "id": "25d5b0d985417ab6",
        "type": "debug",
        "z": "4549d2e4011af89a",
        "name": "debug 39",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 1020,
        "wires": []
    },
    {
        "id": "b67bdcdfafc28b21",
        "type": "inject",
        "z": "4549d2e4011af89a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "{\"Type\":\"IoT_station\", \"Row\":1, \"Col\":1, \"Status\":\"Open\"}",
        "payload": "",
        "payloadType": "date",
        "x": 800,
        "y": 820,
        "wires": [
            [
                "db455ede75fb2548"
            ]
        ]
    },
    {
        "id": "db455ede75fb2548",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":4, \"Col\":1, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 880,
        "wires": [
            [
                "25d5b0d985417ab6",
                "8e448220a4058761"
            ]
        ]
    },
    {
        "id": "7d31adb75c82f82d",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 26,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "26",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 790,
        "y": 940,
        "wires": [
            [
                "bfba83d93fdfa30b"
            ]
        ]
    },
    {
        "id": "bfba83d93fdfa30b",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":4, \"Col\":2, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 940,
        "wires": [
            [
                "8e448220a4058761"
            ]
        ]
    },
    {
        "id": "b20ef8ccc3ef68ac",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 27,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "27",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 790,
        "y": 1000,
        "wires": [
            [
                "27fd084aef732a5d"
            ]
        ]
    },
    {
        "id": "27fd084aef732a5d",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":4, \"Col\":3, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 1000,
        "wires": [
            [
                "8e448220a4058761"
            ]
        ]
    },
    {
        "id": "3b68d4582f896105",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 28,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "28",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 790,
        "y": 1060,
        "wires": [
            [
                "d3a36fe23d581f6f"
            ]
        ]
    },
    {
        "id": "d3a36fe23d581f6f",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":4, \"Col\":4, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 1060,
        "wires": [
            [
                "8e448220a4058761"
            ]
        ]
    },
    {
        "id": "d87d2ccfd1f6df42",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 29,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "29",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 790,
        "y": 1140,
        "wires": [
            [
                "e86f0ad959a41bd2"
            ]
        ]
    },
    {
        "id": "e86f0ad959a41bd2",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":4, \"Col\":5, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 1140,
        "wires": [
            [
                "8e448220a4058761"
            ]
        ]
    },
    {
        "id": "1c674f3a1cb9aaf6",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 30,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "30",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 790,
        "y": 1200,
        "wires": [
            [
                "449c67ce0f1c1b7b"
            ]
        ]
    },
    {
        "id": "449c67ce0f1c1b7b",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":4, \"Col\":6, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 1200,
        "wires": [
            [
                "8e448220a4058761"
            ]
        ]
    },
    {
        "id": "e97fa1bdce375a1d",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 31,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "31",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 790,
        "y": 1260,
        "wires": [
            [
                "9517ef53c6152421"
            ]
        ]
    },
    {
        "id": "9517ef53c6152421",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":4, \"Col\":7, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 1260,
        "wires": [
            [
                "8e448220a4058761"
            ]
        ]
    },
    {
        "id": "87bac521e7798fe9",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 32,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "32",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 790,
        "y": 1320,
        "wires": [
            [
                "7c4a4918a21d2136"
            ]
        ]
    },
    {
        "id": "7c4a4918a21d2136",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":4, \"Col\":8, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 1320,
        "wires": [
            [
                "8e448220a4058761"
            ]
        ]
    },
    {
        "id": "27fdd9d98f87c4b3",
        "type": "comment",
        "z": "4549d2e4011af89a",
        "name": "Row 4",
        "info": "",
        "x": 790,
        "y": 760,
        "wires": []
    },
    {
        "id": "c2f5c03ee3eed075",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 33,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "33",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 150,
        "y": 1520,
        "wires": [
            [
                "0fbb7e83624f2c16"
            ]
        ]
    },
    {
        "id": "9f0c69548110b8b9",
        "type": "mqtt out",
        "z": "4549d2e4011af89a",
        "name": "",
        "topic": "ICW503/IoT",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "82351cecb8fdb157",
        "x": 570,
        "y": 1800,
        "wires": []
    },
    {
        "id": "b5672de4a3a17e19",
        "type": "debug",
        "z": "4549d2e4011af89a",
        "name": "debug 40",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 1660,
        "wires": []
    },
    {
        "id": "236557ef62a6a9ab",
        "type": "inject",
        "z": "4549d2e4011af89a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "{\"Type\":\"IoT_station\", \"Row\":1, \"Col\":1, \"Status\":\"Open\"}",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 1460,
        "wires": [
            [
                "0fbb7e83624f2c16"
            ]
        ]
    },
    {
        "id": "0fbb7e83624f2c16",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":5, \"Col\":1, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1520,
        "wires": [
            [
                "b5672de4a3a17e19",
                "8c2f8a0be2f90acd"
            ]
        ]
    },
    {
        "id": "aca37ccb5b0f56af",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 34,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "34",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 150,
        "y": 1580,
        "wires": [
            [
                "eea9a418ea16361d"
            ]
        ]
    },
    {
        "id": "eea9a418ea16361d",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":5, \"Col\":2, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1580,
        "wires": [
            [
                "8c2f8a0be2f90acd"
            ]
        ]
    },
    {
        "id": "afc5398401a51f6e",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 35,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "35",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 150,
        "y": 1640,
        "wires": [
            [
                "0dd4dbcd4dfbdf78"
            ]
        ]
    },
    {
        "id": "0dd4dbcd4dfbdf78",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":5, \"Col\":3, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1640,
        "wires": [
            [
                "8c2f8a0be2f90acd"
            ]
        ]
    },
    {
        "id": "6537bef246ed7ae5",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 36,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "36",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 150,
        "y": 1700,
        "wires": [
            [
                "07e4344cb6f5a196"
            ]
        ]
    },
    {
        "id": "07e4344cb6f5a196",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":5, \"Col\":4, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1700,
        "wires": [
            [
                "8c2f8a0be2f90acd"
            ]
        ]
    },
    {
        "id": "15df5971b79d505f",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 37,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "37",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 150,
        "y": 1780,
        "wires": [
            [
                "735d6abacb8c5952"
            ]
        ]
    },
    {
        "id": "735d6abacb8c5952",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":5, \"Col\":5, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1780,
        "wires": [
            [
                "8c2f8a0be2f90acd"
            ]
        ]
    },
    {
        "id": "24a803ef1f1eadce",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 38,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "38",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 150,
        "y": 1840,
        "wires": [
            [
                "ff5ff21742db10a5"
            ]
        ]
    },
    {
        "id": "ff5ff21742db10a5",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":5, \"Col\":6, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1840,
        "wires": [
            [
                "8c2f8a0be2f90acd"
            ]
        ]
    },
    {
        "id": "703d95f653b23788",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 39,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "39",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 150,
        "y": 1900,
        "wires": [
            [
                "32ce6576923e88a3"
            ]
        ]
    },
    {
        "id": "32ce6576923e88a3",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":5, \"Col\":7, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1900,
        "wires": [
            [
                "8c2f8a0be2f90acd"
            ]
        ]
    },
    {
        "id": "1304d5feced92511",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 40,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "40",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 150,
        "y": 1960,
        "wires": [
            [
                "e8df8cc01cb485b0"
            ]
        ]
    },
    {
        "id": "e8df8cc01cb485b0",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":5, \"Col\":8, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1960,
        "wires": [
            [
                "8c2f8a0be2f90acd"
            ]
        ]
    },
    {
        "id": "a860c4c1dc7d2d5e",
        "type": "comment",
        "z": "4549d2e4011af89a",
        "name": "Row 5",
        "info": "",
        "x": 150,
        "y": 1400,
        "wires": []
    },
    {
        "id": "ec9fd96ae82c71b4",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 41,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "41",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 790,
        "y": 1520,
        "wires": [
            [
                "ddc63f5494f3fdc8"
            ]
        ]
    },
    {
        "id": "a5160f5f4a040369",
        "type": "mqtt out",
        "z": "4549d2e4011af89a",
        "name": "",
        "topic": "ICW503/IoT",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "82351cecb8fdb157",
        "x": 1210,
        "y": 1800,
        "wires": []
    },
    {
        "id": "dcfea40c990e8b98",
        "type": "debug",
        "z": "4549d2e4011af89a",
        "name": "debug 41",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 1660,
        "wires": []
    },
    {
        "id": "71f2f85217350cec",
        "type": "inject",
        "z": "4549d2e4011af89a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "{\"Type\":\"IoT_station\", \"Row\":1, \"Col\":1, \"Status\":\"Open\"}",
        "payload": "",
        "payloadType": "date",
        "x": 800,
        "y": 1460,
        "wires": [
            [
                "ddc63f5494f3fdc8"
            ]
        ]
    },
    {
        "id": "ddc63f5494f3fdc8",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":6, \"Col\":1, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 1520,
        "wires": [
            [
                "dcfea40c990e8b98",
                "72c7b169e5fc7a41"
            ]
        ]
    },
    {
        "id": "6b9637be55db4cc0",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 42,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "42",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 790,
        "y": 1580,
        "wires": [
            [
                "b5b2250785fd3e3e"
            ]
        ]
    },
    {
        "id": "b5b2250785fd3e3e",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":6, \"Col\":2, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 1580,
        "wires": [
            [
                "72c7b169e5fc7a41"
            ]
        ]
    },
    {
        "id": "1b14d29b6aa24b4e",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 43,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "43",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 790,
        "y": 1640,
        "wires": [
            [
                "453b4b45b9ec26b4"
            ]
        ]
    },
    {
        "id": "453b4b45b9ec26b4",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":6, \"Col\":3, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 1640,
        "wires": [
            [
                "72c7b169e5fc7a41"
            ]
        ]
    },
    {
        "id": "6544a4667b1265ae",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 44,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "44",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 790,
        "y": 1700,
        "wires": [
            [
                "9ef654e2b0e4983d"
            ]
        ]
    },
    {
        "id": "9ef654e2b0e4983d",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":6, \"Col\":4, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 1700,
        "wires": [
            [
                "72c7b169e5fc7a41"
            ]
        ]
    },
    {
        "id": "abaf073c6e6b4230",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 45,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "45",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 790,
        "y": 1780,
        "wires": [
            [
                "2a7a18bc308073a7"
            ]
        ]
    },
    {
        "id": "2a7a18bc308073a7",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":6, \"Col\":5, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 1780,
        "wires": [
            [
                "72c7b169e5fc7a41"
            ]
        ]
    },
    {
        "id": "a8b66ea46034f2e3",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 46,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "46",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 790,
        "y": 1840,
        "wires": [
            [
                "d2d839a437592371"
            ]
        ]
    },
    {
        "id": "d2d839a437592371",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":6, \"Col\":6, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 1840,
        "wires": [
            [
                "72c7b169e5fc7a41"
            ]
        ]
    },
    {
        "id": "878da87508b66b7e",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 47,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "47",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 790,
        "y": 1900,
        "wires": [
            [
                "616f08e13c6dca7c"
            ]
        ]
    },
    {
        "id": "616f08e13c6dca7c",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":6, \"Col\":7, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 1900,
        "wires": [
            [
                "72c7b169e5fc7a41"
            ]
        ]
    },
    {
        "id": "27a393f8414584ca",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 48,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "48",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 790,
        "y": 1960,
        "wires": [
            [
                "64da3ece4546cdf8"
            ]
        ]
    },
    {
        "id": "64da3ece4546cdf8",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":6, \"Col\":8, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 1960,
        "wires": [
            [
                "72c7b169e5fc7a41"
            ]
        ]
    },
    {
        "id": "1564b766bb852dc3",
        "type": "comment",
        "z": "4549d2e4011af89a",
        "name": "Row 6",
        "info": "",
        "x": 790,
        "y": 1400,
        "wires": []
    },
    {
        "id": "db1f1ae092275527",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 49,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "49",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 150,
        "y": 2160,
        "wires": [
            [
                "984734a551cb1b4e"
            ]
        ]
    },
    {
        "id": "5b52f65b30ededd2",
        "type": "mqtt out",
        "z": "4549d2e4011af89a",
        "name": "",
        "topic": "ICW503/IoT",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "82351cecb8fdb157",
        "x": 570,
        "y": 2280,
        "wires": []
    },
    {
        "id": "7118253ef40cc43e",
        "type": "debug",
        "z": "4549d2e4011af89a",
        "name": "debug 42",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 2160,
        "wires": []
    },
    {
        "id": "a688b2d5af28d551",
        "type": "inject",
        "z": "4549d2e4011af89a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "{\"Type\":\"IoT_station\", \"Row\":1, \"Col\":1, \"Status\":\"Open\"}",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 2100,
        "wires": [
            [
                "984734a551cb1b4e"
            ]
        ]
    },
    {
        "id": "984734a551cb1b4e",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":7, \"Col\":5, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 2160,
        "wires": [
            [
                "7118253ef40cc43e",
                "9cade814b843c8a2"
            ]
        ]
    },
    {
        "id": "327eefa8429d9309",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 50,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "50",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 150,
        "y": 2220,
        "wires": [
            [
                "08c3b6eb5aaca6f9"
            ]
        ]
    },
    {
        "id": "08c3b6eb5aaca6f9",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":7, \"Col\":6, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 2220,
        "wires": [
            [
                "9cade814b843c8a2"
            ]
        ]
    },
    {
        "id": "a43bcaa3e314f522",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 51,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "51",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 150,
        "y": 2280,
        "wires": [
            [
                "650c4de4f9f31523"
            ]
        ]
    },
    {
        "id": "650c4de4f9f31523",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":7, \"Col\":7, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 2280,
        "wires": [
            [
                "9cade814b843c8a2"
            ]
        ]
    },
    {
        "id": "cccf6e404d10b1e4",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 52,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "52",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 150,
        "y": 2340,
        "wires": [
            [
                "fc8dce06ca1a7b69"
            ]
        ]
    },
    {
        "id": "fc8dce06ca1a7b69",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":7, \"Col\":8, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 2340,
        "wires": [
            [
                "9cade814b843c8a2"
            ]
        ]
    },
    {
        "id": "211fe11168b46e18",
        "type": "comment",
        "z": "4549d2e4011af89a",
        "name": "Row 7",
        "info": "",
        "x": 150,
        "y": 2040,
        "wires": []
    },
    {
        "id": "300daaef10f9e114",
        "type": "inject",
        "z": "4549d2e4011af89a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "{\"Type\":\"IoT_station\", \"Row\":1, \"Col\":1, \"Status\":\"Open\"}",
        "payload": "",
        "payloadType": "date",
        "x": 800,
        "y": 2100,
        "wires": [
            []
        ]
    },
    {
        "id": "75bcc56ac7be87d8",
        "type": "comment",
        "z": "4549d2e4011af89a",
        "name": "Row 8",
        "info": "",
        "x": 790,
        "y": 2040,
        "wires": []
    },
    {
        "id": "86fd60d8ab2f510d",
        "type": "inject",
        "z": "4549d2e4011af89a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "{\"Type\":\"IoT_station\", \"Row\":1, \"Col\":1, \"Status\":\"Open\"}",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 2480,
        "wires": [
            []
        ]
    },
    {
        "id": "d90817a49fee4b2c",
        "type": "comment",
        "z": "4549d2e4011af89a",
        "name": "Row 9",
        "info": "",
        "x": 150,
        "y": 2420,
        "wires": []
    },
    {
        "id": "4c12878b730788fa",
        "type": "inject",
        "z": "4549d2e4011af89a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "{\"Type\":\"IoT_station\", \"Row\":1, \"Col\":1, \"Status\":\"Open\"}",
        "payload": "",
        "payloadType": "date",
        "x": 800,
        "y": 2480,
        "wires": [
            []
        ]
    },
    {
        "id": "71fc35fc11ed5c98",
        "type": "comment",
        "z": "4549d2e4011af89a",
        "name": "Row 10",
        "info": "",
        "x": 790,
        "y": 2420,
        "wires": []
    },
    {
        "id": "6640dcd72e12d81e",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 53,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "53",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 790,
        "y": 2160,
        "wires": [
            [
                "8f08891979e6293e"
            ]
        ]
    },
    {
        "id": "58f2f18b8ca50298",
        "type": "mqtt out",
        "z": "4549d2e4011af89a",
        "name": "",
        "topic": "ICW503/IoT",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "82351cecb8fdb157",
        "x": 1210,
        "y": 2280,
        "wires": []
    },
    {
        "id": "5e8ee4df43f2af19",
        "type": "debug",
        "z": "4549d2e4011af89a",
        "name": "debug 46",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 2160,
        "wires": []
    },
    {
        "id": "8f08891979e6293e",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":8, \"Col\":5, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 2160,
        "wires": [
            [
                "5e8ee4df43f2af19",
                "bc55fa2c1e4085bd"
            ]
        ]
    },
    {
        "id": "977ceb22c33c6db2",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 54,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "54",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 790,
        "y": 2220,
        "wires": [
            [
                "2211c6c1f7f59eec"
            ]
        ]
    },
    {
        "id": "2211c6c1f7f59eec",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":8, \"Col\":6, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 2220,
        "wires": [
            [
                "bc55fa2c1e4085bd"
            ]
        ]
    },
    {
        "id": "7c33606c9fa5b50d",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 55,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "55",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 790,
        "y": 2280,
        "wires": [
            [
                "91970d0fb109de26"
            ]
        ]
    },
    {
        "id": "91970d0fb109de26",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":8, \"Col\":7, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 2280,
        "wires": [
            [
                "bc55fa2c1e4085bd"
            ]
        ]
    },
    {
        "id": "dbf876d9033b90e5",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 56,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "56",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 790,
        "y": 2340,
        "wires": [
            [
                "10131ea9a3e5e5c3"
            ]
        ]
    },
    {
        "id": "10131ea9a3e5e5c3",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":8, \"Col\":8, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 2340,
        "wires": [
            [
                "bc55fa2c1e4085bd"
            ]
        ]
    },
    {
        "id": "e8b34dc242127404",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 57,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "57",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 150,
        "y": 2540,
        "wires": [
            [
                "2d3e06ef6c8f4e40"
            ]
        ]
    },
    {
        "id": "cc1ebcde8212fbfe",
        "type": "mqtt out",
        "z": "4549d2e4011af89a",
        "name": "",
        "topic": "ICW503/IoT",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "82351cecb8fdb157",
        "x": 570,
        "y": 2660,
        "wires": []
    },
    {
        "id": "bc34f0648e97e5cc",
        "type": "debug",
        "z": "4549d2e4011af89a",
        "name": "debug 47",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 2540,
        "wires": []
    },
    {
        "id": "2d3e06ef6c8f4e40",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":9, \"Col\":5, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 2540,
        "wires": [
            [
                "bc34f0648e97e5cc",
                "c0c879f29ea06824"
            ]
        ]
    },
    {
        "id": "7b7f5c7c0ef592af",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 58,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "58",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 150,
        "y": 2600,
        "wires": [
            [
                "79f2b9a2190d297c"
            ]
        ]
    },
    {
        "id": "79f2b9a2190d297c",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":9, \"Col\":6, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 2600,
        "wires": [
            [
                "c0c879f29ea06824"
            ]
        ]
    },
    {
        "id": "fb4c1270c764c2ad",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 59,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "59",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 150,
        "y": 2660,
        "wires": [
            [
                "e9d0209f1ce1e45e"
            ]
        ]
    },
    {
        "id": "e9d0209f1ce1e45e",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":9, \"Col\":7, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 2660,
        "wires": [
            [
                "c0c879f29ea06824"
            ]
        ]
    },
    {
        "id": "4f7f55a41764ed54",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 60,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "60",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 150,
        "y": 2720,
        "wires": [
            [
                "fb201f3ee9ab88d0"
            ]
        ]
    },
    {
        "id": "fb201f3ee9ab88d0",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":9, \"Col\":8, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 2720,
        "wires": [
            [
                "c0c879f29ea06824"
            ]
        ]
    },
    {
        "id": "69ed67e93c8603b8",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 61,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "61",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 790,
        "y": 2540,
        "wires": [
            [
                "30613aa4012e324b"
            ]
        ]
    },
    {
        "id": "33d983ec7e74dad0",
        "type": "mqtt out",
        "z": "4549d2e4011af89a",
        "name": "",
        "topic": "ICW503/IoT",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "82351cecb8fdb157",
        "x": 1210,
        "y": 2660,
        "wires": []
    },
    {
        "id": "ad2a4ec9a582c1c8",
        "type": "debug",
        "z": "4549d2e4011af89a",
        "name": "debug 48",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 2540,
        "wires": []
    },
    {
        "id": "30613aa4012e324b",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":10, \"Col\":5, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 2540,
        "wires": [
            [
                "ad2a4ec9a582c1c8",
                "f3bd78e48391bc59"
            ]
        ]
    },
    {
        "id": "4e2af67f558d60dc",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 62,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "62",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 790,
        "y": 2600,
        "wires": [
            [
                "e92580c3067f1f9a"
            ]
        ]
    },
    {
        "id": "e92580c3067f1f9a",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":10, \"Col\":6, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 2600,
        "wires": [
            [
                "f3bd78e48391bc59"
            ]
        ]
    },
    {
        "id": "60350313100f0e08",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 63,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "63",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 790,
        "y": 2660,
        "wires": [
            [
                "7683ff19376f4a56"
            ]
        ]
    },
    {
        "id": "7683ff19376f4a56",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":10, \"Col\":7, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 2660,
        "wires": [
            [
                "f3bd78e48391bc59"
            ]
        ]
    },
    {
        "id": "05be2469844d97a8",
        "type": "ui_ui-button",
        "z": "4549d2e4011af89a",
        "action": "click",
        "actionType": "str",
        "name": "",
        "group": "7aef7a18fa2742cb",
        "order": 64,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "64",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "x": 790,
        "y": 2720,
        "wires": [
            [
                "e0a6c5af7242b292"
            ]
        ]
    },
    {
        "id": "e0a6c5af7242b292",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Type\":\"IoT_station\", \"Row\":10, \"Col\":8, \"Status\":\"Open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 2720,
        "wires": [
            [
                "f3bd78e48391bc59"
            ]
        ]
    },
    {
        "id": "668e5cbf8a87a4c1",
        "type": "ui_text_input",
        "z": "4549d2e4011af89a",
        "name": "",
        "label": "Admin ID:",
        "tooltip": "",
        "group": "0ffaac215a9d5903",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "password",
        "delay": 300,
        "topic": "payload",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 160,
        "y": 2940,
        "wires": [
            [
                "d89bdc79c02b36b1"
            ]
        ]
    },
    {
        "id": "d89bdc79c02b36b1",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "Store admin id",
        "rules": [
            {
                "t": "set",
                "p": "admin_id",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 2940,
        "wires": [
            [
                "cddb064c99da5506"
            ]
        ]
    },
    {
        "id": "1614c1bf6ae0fd16",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "Invalid!",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Invalid! Try again",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 2900,
        "wires": [
            [
                "a471b3ac0f76f087",
                "361ddefc889dad12"
            ]
        ]
    },
    {
        "id": "b8f041c30280b804",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "Summer",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Welcome Mr. Summer Lo",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 2940,
        "wires": [
            [
                "a471b3ac0f76f087",
                "8030dac3e6cac1a3"
            ]
        ]
    },
    {
        "id": "6e21c67adddf696e",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "Kelvin ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Welcome Mr. Kelvin Leung",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 2980,
        "wires": [
            [
                "a471b3ac0f76f087",
                "8030dac3e6cac1a3"
            ]
        ]
    },
    {
        "id": "7de1b9547fd0c103",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "Kwan-yau",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Welcome Mr. Kwan-yau Chan",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 3020,
        "wires": [
            [
                "a471b3ac0f76f087",
                "8030dac3e6cac1a3"
            ]
        ]
    },
    {
        "id": "aea613b19853b2a5",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "Cheuk-kin",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Welcome Mr. Cheuk-kin CHEUNG ",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 3060,
        "wires": [
            [
                "a471b3ac0f76f087",
                "8030dac3e6cac1a3"
            ]
        ]
    },
    {
        "id": "5bbc638f1f43fd74",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "CHANG Ka-ho",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Welcome Mr. Ka-ho CHANG",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 3100,
        "wires": [
            [
                "a471b3ac0f76f087",
                "8030dac3e6cac1a3"
            ]
        ]
    },
    {
        "id": "fe396b256fe72e95",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "Tap Staff card",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Please Tap your Staff card",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 3140,
        "wires": [
            [
                "a471b3ac0f76f087"
            ]
        ]
    },
    {
        "id": "361ddefc889dad12",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "auth",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 2900,
        "wires": [
            []
        ]
    },
    {
        "id": "a471b3ac0f76f087",
        "type": "ui_text",
        "z": "4549d2e4011af89a",
        "group": "0ffaac215a9d5903",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1190,
        "y": 2940,
        "wires": []
    },
    {
        "id": "8030dac3e6cac1a3",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "auth",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 3040,
        "wires": [
            [
                "cec8cd63ec491dc7"
            ]
        ]
    },
    {
        "id": "1ce42a2f4d1650c6",
        "type": "switch",
        "z": "4549d2e4011af89a",
        "name": "Auth == true?",
        "property": "auth",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 580,
        "y": 460,
        "wires": [
            [
                "433a8668aacebae1"
            ]
        ]
    },
    {
        "id": "19e3bc505a0ec7b4",
        "type": "switch",
        "z": "4549d2e4011af89a",
        "name": "Auth == true?",
        "property": "auth",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1220,
        "y": 460,
        "wires": [
            [
                "174236421432ff55"
            ]
        ]
    },
    {
        "id": "452dbbe117ae1e2c",
        "type": "switch",
        "z": "4549d2e4011af89a",
        "name": "Auth == true?",
        "property": "auth",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 580,
        "y": 1100,
        "wires": [
            [
                "49ad10a99f35dc07"
            ]
        ]
    },
    {
        "id": "62feafe6aad23ebf",
        "type": "switch",
        "z": "4549d2e4011af89a",
        "name": "Auth == true?",
        "property": "auth",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1220,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "8e448220a4058761",
        "type": "switch",
        "z": "4549d2e4011af89a",
        "name": "Auth == true?",
        "property": "auth",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1220,
        "y": 1100,
        "wires": [
            [
                "e84c9d1320aa82a5"
            ]
        ]
    },
    {
        "id": "8c2f8a0be2f90acd",
        "type": "switch",
        "z": "4549d2e4011af89a",
        "name": "Auth == true?",
        "property": "auth",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 580,
        "y": 1740,
        "wires": [
            [
                "9f0c69548110b8b9"
            ]
        ]
    },
    {
        "id": "72c7b169e5fc7a41",
        "type": "switch",
        "z": "4549d2e4011af89a",
        "name": "Auth == true?",
        "property": "auth",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1220,
        "y": 1740,
        "wires": [
            [
                "a5160f5f4a040369"
            ]
        ]
    },
    {
        "id": "9cade814b843c8a2",
        "type": "switch",
        "z": "4549d2e4011af89a",
        "name": "Auth == true?",
        "property": "auth",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 580,
        "y": 2220,
        "wires": [
            [
                "5b52f65b30ededd2"
            ]
        ]
    },
    {
        "id": "bc55fa2c1e4085bd",
        "type": "switch",
        "z": "4549d2e4011af89a",
        "name": "Auth == true?",
        "property": "auth",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1220,
        "y": 2220,
        "wires": [
            [
                "58f2f18b8ca50298"
            ]
        ]
    },
    {
        "id": "c0c879f29ea06824",
        "type": "switch",
        "z": "4549d2e4011af89a",
        "name": "Auth == true?",
        "property": "auth",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 580,
        "y": 2600,
        "wires": [
            [
                "cc1ebcde8212fbfe"
            ]
        ]
    },
    {
        "id": "f3bd78e48391bc59",
        "type": "switch",
        "z": "4549d2e4011af89a",
        "name": "Auth == true?",
        "property": "auth",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1220,
        "y": 2600,
        "wires": [
            [
                "33d983ec7e74dad0"
            ]
        ]
    },
    {
        "id": "0b8c55b2f5efea7a",
        "type": "ui_button",
        "z": "4549d2e4011af89a",
        "name": "",
        "group": "0ffaac215a9d5903",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 3040,
        "wires": [
            [
                "e4e926771f025cc1"
            ]
        ]
    },
    {
        "id": "e4e926771f025cc1",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "Reset",
        "rules": [
            {
                "t": "set",
                "p": "auth",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 3040,
        "wires": [
            [
                "668e5cbf8a87a4c1"
            ]
        ]
    },
    {
        "id": "cec8cd63ec491dc7",
        "type": "delay",
        "z": "4549d2e4011af89a",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1380,
        "y": 3040,
        "wires": [
            [
                "e4e926771f025cc1"
            ]
        ]
    },
    {
        "id": "cddb064c99da5506",
        "type": "switch",
        "z": "4549d2e4011af89a",
        "name": "check admin ID Null OR insdie List",
        "property": "admin_id",
        "propertyType": "flow",
        "rules": [
            {
                "t": "else"
            },
            {
                "t": "eq",
                "v": "AL1910",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "150500",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "G78357",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "H53812",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "C76040",
                "vt": "str"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 7,
        "x": 720,
        "y": 2940,
        "wires": [
            [
                "1614c1bf6ae0fd16"
            ],
            [
                "b8f041c30280b804"
            ],
            [
                "6e21c67adddf696e"
            ],
            [
                "7de1b9547fd0c103"
            ],
            [
                "aea613b19853b2a5"
            ],
            [
                "5bbc638f1f43fd74"
            ],
            [
                "fe396b256fe72e95"
            ]
        ]
    },
    {
        "id": "aef0500555aadb08",
        "type": "ui_button",
        "z": "4549d2e4011af89a",
        "name": "",
        "group": "b2539cbed6aaf7ea",
        "order": 1,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "{{title}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{payload}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 1810,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "fe04deb7d4060af6",
        "type": "inject",
        "z": "4549d2e4011af89a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1690,
        "y": 240,
        "wires": [
            [
                "4150ba2c34ececcd"
            ]
        ]
    },
    {
        "id": "d51a834eed663d53",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "Cart 18",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "colorCart18",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "title",
                "pt": "msg",
                "to": "cartTitle18",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1680,
        "y": 380,
        "wires": [
            [
                "aef0500555aadb08"
            ]
        ]
    },
    {
        "id": "4150ba2c34ececcd",
        "type": "postgrestor",
        "z": "4549d2e4011af89a",
        "name": "",
        "query": "SELECT * FROM cart ORDER BY id ASC;",
        "postgresDB": "d37f48e234e2b6f4",
        "output": true,
        "outputs": 1,
        "x": 1850,
        "y": 240,
        "wires": [
            [
                "832145c9c9b0ac79",
                "6958d9449c6665f5"
            ]
        ]
    },
    {
        "id": "6958d9449c6665f5",
        "type": "json",
        "z": "4549d2e4011af89a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 2030,
        "y": 240,
        "wires": [
            [
                "d2ab97b656cb7329"
            ]
        ]
    },
    {
        "id": "d2ab97b656cb7329",
        "type": "debug",
        "z": "4549d2e4011af89a",
        "name": "debug 62",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2200,
        "y": 240,
        "wires": []
    },
    {
        "id": "832145c9c9b0ac79",
        "type": "function",
        "z": "4549d2e4011af89a",
        "name": "Get equ_id from database",
        "func": "msg = msg.payload;\nvar rawno = msg['rowCount'];\nvar cartOrder = [];\nvar cartStatus = [];\nvar cartColor = [];\nvar cartTitle = [];\n\nfor (let index = 0; index < rawno; index++) {\n    var order = msg['rows'][index]['id'];\n    var status = msg['rows'][index]['status'];\n    var borrower_id = msg['rows'][index]['borrower_id'];\n    cartOrder.push(order);\n    cartStatus.push(status);\n    if(status == true){\n        var num = index + 1\n        cartColor.push(\"Green\");\n        cartTitle.push(\"No.\" + num);\n    }\n    if(status == false){\n        cartColor.push(\"Red\");\n        cartTitle.push(borrower_id);\n    }\n}\nflow.set(\"cartOrder\", cartOrder);\nflow.set(\"cartStatus\", cartStatus);\nflow.set(\"cartColor\", cartColor);\n\nflow.set(\"colorCart1\", cartColor[0]);\nflow.set(\"colorCart2\", cartColor[1]);\nflow.set(\"colorCart3\", cartColor[2]);\nflow.set(\"colorCart4\", cartColor[3]);\nflow.set(\"colorCart5\", cartColor[4]);\nflow.set(\"colorCart6\", cartColor[5]);\nflow.set(\"colorCart7\", cartColor[6]);\nflow.set(\"colorCart8\", cartColor[7]);\nflow.set(\"colorCart9\", cartColor[8]);\nflow.set(\"colorCart10\", cartColor[9]);\nflow.set(\"colorCart11\", cartColor[10]);\nflow.set(\"colorCart12\", cartColor[11]);\nflow.set(\"colorCart13\", cartColor[12]);\nflow.set(\"colorCart14\", cartColor[13]);\nflow.set(\"colorCart15\", cartColor[14]);\nflow.set(\"colorCart16\", cartColor[15]);\nflow.set(\"colorCart17\", cartColor[16]);\nflow.set(\"colorCart18\", cartColor[17]);\n\nflow.set(\"cartTitle1\", cartTitle[0]);\nflow.set(\"cartTitle2\", cartTitle[1]);\nflow.set(\"cartTitle3\", cartTitle[2]);\nflow.set(\"cartTitle4\", cartTitle[3]);\nflow.set(\"cartTitle5\", cartTitle[4]);\nflow.set(\"cartTitle6\", cartTitle[5]);\nflow.set(\"cartTitle7\", cartTitle[6]);\nflow.set(\"cartTitle8\", cartTitle[7]);\nflow.set(\"cartTitle9\", cartTitle[8]);\nflow.set(\"cartTitle10\", cartTitle[9]);\nflow.set(\"cartTitle11\", cartTitle[10]);\nflow.set(\"cartTitle12\", cartTitle[11]);\nflow.set(\"cartTitle13\", cartTitle[12]);\nflow.set(\"cartTitle14\", cartTitle[13]);\nflow.set(\"cartTitle15\", cartTitle[14]);\nflow.set(\"cartTitle16\", cartTitle[15]);\nflow.set(\"cartTitle17\", cartTitle[16]);\nflow.set(\"cartTitle18\", cartTitle[17]);\n\nmsg.payload = cartColor;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1730,
        "y": 300,
        "wires": [
            [
                "d51a834eed663d53",
                "d60972c97c6dc140",
                "7eda4130320ed5b6",
                "3ad804a9e3877f18",
                "4f864a0ec69b740b",
                "c3d9c6dae1b81037",
                "2010fdd3de8eeba5",
                "b9a09a6db82c65a5",
                "34bac98e7d7e5380",
                "b24d6fb1883ff780",
                "1227a3d329866460",
                "ede8f9b54447e81c",
                "2fe9c089dc8cc261",
                "e199ad7cfe16c7cd",
                "b41bafb9de144adf",
                "3331bda95225bb39",
                "e43098be4eabc101",
                "e8f4f503d98c44ec",
                "2fd90bc52e5c4f7b"
            ]
        ]
    },
    {
        "id": "4893663b192cd465",
        "type": "ui_button",
        "z": "4549d2e4011af89a",
        "name": "",
        "group": "b2539cbed6aaf7ea",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "{{title}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{payload}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 2090,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "7eda4130320ed5b6",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "Cart 17",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "colorCart17",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "title",
                "pt": "msg",
                "to": "cartTitle17",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1960,
        "y": 380,
        "wires": [
            [
                "4893663b192cd465"
            ]
        ]
    },
    {
        "id": "a974dc94701cfc7b",
        "type": "ui_button",
        "z": "4549d2e4011af89a",
        "name": "",
        "group": "b2539cbed6aaf7ea",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "{{title}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{payload}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 2390,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "4f864a0ec69b740b",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "Cart 16",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "colorCart16",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "title",
                "pt": "msg",
                "to": "cartTitle16",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2260,
        "y": 380,
        "wires": [
            [
                "a974dc94701cfc7b"
            ]
        ]
    },
    {
        "id": "7aa3347309293b27",
        "type": "ui_button",
        "z": "4549d2e4011af89a",
        "name": "",
        "group": "b2539cbed6aaf7ea",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "{{title}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{payload}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 1810,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "d60972c97c6dc140",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "Cart 15",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "colorCart15",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "title",
                "pt": "msg",
                "to": "cartTitle15",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1680,
        "y": 420,
        "wires": [
            [
                "7aa3347309293b27"
            ]
        ]
    },
    {
        "id": "e81feb3258694ee6",
        "type": "ui_button",
        "z": "4549d2e4011af89a",
        "name": "",
        "group": "b2539cbed6aaf7ea",
        "order": 5,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "{{title}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{payload}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 2090,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "3ad804a9e3877f18",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "Cart 14",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "colorCart14",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "title",
                "pt": "msg",
                "to": "cartTitle14",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1960,
        "y": 420,
        "wires": [
            [
                "e81feb3258694ee6"
            ]
        ]
    },
    {
        "id": "b1256edd2ab44fcf",
        "type": "ui_button",
        "z": "4549d2e4011af89a",
        "name": "",
        "group": "b2539cbed6aaf7ea",
        "order": 6,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "{{title}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{payload}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 2390,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "c3d9c6dae1b81037",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "Cart 13",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "colorCart13",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "title",
                "pt": "msg",
                "to": "cartTitle13",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2260,
        "y": 420,
        "wires": [
            [
                "b1256edd2ab44fcf"
            ]
        ]
    },
    {
        "id": "d1d3ae6f0caac1e6",
        "type": "ui_button",
        "z": "4549d2e4011af89a",
        "name": "",
        "group": "b2539cbed6aaf7ea",
        "order": 10,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "{{title}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{payload}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 2390,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "2010fdd3de8eeba5",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "Cart 10",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "colorCart10",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "title",
                "pt": "msg",
                "to": "cartTitle10",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2260,
        "y": 500,
        "wires": [
            [
                "d1d3ae6f0caac1e6"
            ]
        ]
    },
    {
        "id": "9a4c7b1def0aad2c",
        "type": "ui_button",
        "z": "4549d2e4011af89a",
        "name": "",
        "group": "b2539cbed6aaf7ea",
        "order": 9,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "{{title}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{payload}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 2090,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "b9a09a6db82c65a5",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "Cart 11",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "colorCart11",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "title",
                "pt": "msg",
                "to": "cartTitle11",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1960,
        "y": 500,
        "wires": [
            [
                "9a4c7b1def0aad2c"
            ]
        ]
    },
    {
        "id": "8867342423e8d35b",
        "type": "ui_button",
        "z": "4549d2e4011af89a",
        "name": "",
        "group": "b2539cbed6aaf7ea",
        "order": 8,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "{{title}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{payload}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 1810,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "34bac98e7d7e5380",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "Cart 12",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "colorCart12",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "title",
                "pt": "msg",
                "to": "cartTitle12",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1680,
        "y": 500,
        "wires": [
            [
                "8867342423e8d35b"
            ]
        ]
    },
    {
        "id": "a4826dec673ed509",
        "type": "ui_button",
        "z": "4549d2e4011af89a",
        "name": "",
        "group": "b2539cbed6aaf7ea",
        "order": 11,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "{{title}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{payload}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 1810,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "b24d6fb1883ff780",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "Cart 9",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "colorCart9",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "title",
                "pt": "msg",
                "to": "cartTitle9",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1670,
        "y": 540,
        "wires": [
            [
                "a4826dec673ed509"
            ]
        ]
    },
    {
        "id": "9beef8a8ed2fd0a2",
        "type": "ui_button",
        "z": "4549d2e4011af89a",
        "name": "",
        "group": "b2539cbed6aaf7ea",
        "order": 12,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "{{title}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{payload}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 2090,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "1227a3d329866460",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "Cart 8",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "colorCart8",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "title",
                "pt": "msg",
                "to": "cartTitle8",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1950,
        "y": 540,
        "wires": [
            [
                "9beef8a8ed2fd0a2"
            ]
        ]
    },
    {
        "id": "c425d46203d3d6b7",
        "type": "ui_button",
        "z": "4549d2e4011af89a",
        "name": "",
        "group": "b2539cbed6aaf7ea",
        "order": 13,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "{{title}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{payload}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 2390,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "ede8f9b54447e81c",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "Cart 7",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "colorCart7",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "title",
                "pt": "msg",
                "to": "cartTitle7",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2250,
        "y": 540,
        "wires": [
            [
                "c425d46203d3d6b7"
            ]
        ]
    },
    {
        "id": "99a26690bca9bc54",
        "type": "ui_button",
        "z": "4549d2e4011af89a",
        "name": "",
        "group": "b2539cbed6aaf7ea",
        "order": 17,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "{{title}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{payload}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 2390,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "2fe9c089dc8cc261",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "Cart 4",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "colorCart4",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "title",
                "pt": "msg",
                "to": "cartTitle4",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2250,
        "y": 620,
        "wires": [
            [
                "99a26690bca9bc54"
            ]
        ]
    },
    {
        "id": "fe2881ba6b1bcbec",
        "type": "ui_button",
        "z": "4549d2e4011af89a",
        "name": "",
        "group": "b2539cbed6aaf7ea",
        "order": 16,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "{{title}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{payload}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 2090,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "3331bda95225bb39",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "Cart 5",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "colorCart5",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "title",
                "pt": "msg",
                "to": "cartTitle5",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1950,
        "y": 620,
        "wires": [
            [
                "fe2881ba6b1bcbec"
            ]
        ]
    },
    {
        "id": "ca53103456056add",
        "type": "ui_button",
        "z": "4549d2e4011af89a",
        "name": "",
        "group": "b2539cbed6aaf7ea",
        "order": 15,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "{{title}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{payload}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 1810,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "e199ad7cfe16c7cd",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "Cart 6",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "colorCart6",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "title",
                "pt": "msg",
                "to": "cartTitle6",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1670,
        "y": 620,
        "wires": [
            [
                "ca53103456056add"
            ]
        ]
    },
    {
        "id": "9e13868c0f5ef3c0",
        "type": "ui_button",
        "z": "4549d2e4011af89a",
        "name": "",
        "group": "b2539cbed6aaf7ea",
        "order": 18,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "{{title}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{payload}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 1810,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "b41bafb9de144adf",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "Cart 3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "colorCart3",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "title",
                "pt": "msg",
                "to": "cartTitle3",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1670,
        "y": 660,
        "wires": [
            [
                "9e13868c0f5ef3c0"
            ]
        ]
    },
    {
        "id": "b91cbf421aeeddb0",
        "type": "ui_button",
        "z": "4549d2e4011af89a",
        "name": "",
        "group": "b2539cbed6aaf7ea",
        "order": 19,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "{{title}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{payload}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 2090,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "e43098be4eabc101",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "Cart 2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "colorCart2",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "title",
                "pt": "msg",
                "to": "cartTitle2",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1950,
        "y": 660,
        "wires": [
            [
                "b91cbf421aeeddb0"
            ]
        ]
    },
    {
        "id": "53dc7bdb7b627bd2",
        "type": "ui_button",
        "z": "4549d2e4011af89a",
        "name": "",
        "group": "b2539cbed6aaf7ea",
        "order": 20,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "{{title}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{payload}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 2390,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "e8f4f503d98c44ec",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "Cart 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "colorCart1",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "title",
                "pt": "msg",
                "to": "cartTitle1",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2250,
        "y": 660,
        "wires": [
            [
                "53dc7bdb7b627bd2"
            ]
        ]
    },
    {
        "id": "05328734dbcf109f",
        "type": "ui_button",
        "z": "4549d2e4011af89a",
        "name": "",
        "group": "b2539cbed6aaf7ea",
        "order": 23,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Entry",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Entry",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 2390,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "2fd90bc52e5c4f7b",
        "type": "change",
        "z": "4549d2e4011af89a",
        "name": "Cart 1 Status",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2230,
        "y": 720,
        "wires": [
            [
                "05328734dbcf109f"
            ]
        ]
    },
    {
        "id": "7aef7a18fa2742cb",
        "type": "ui_group",
        "name": "Open",
        "tab": "1ded16b82db57616",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "82351cecb8fdb157",
        "type": "mqtt-broker",
        "name": "hivemq.com",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0ffaac215a9d5903",
        "type": "ui_group",
        "name": "Admin",
        "tab": "1ded16b82db57616",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b2539cbed6aaf7ea",
        "type": "ui_group",
        "name": "Workbench",
        "tab": "1ded16b82db57616",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d37f48e234e2b6f4",
        "type": "postgresDB",
        "name": "postgres@192.168.50.250:5432/booking",
        "host": "192.168.50.250",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "booking",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "max": "10",
        "maxFieldType": "num",
        "min": "1",
        "minFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "postgres",
        "userFieldType": "str",
        "password": "Sum2023mer!",
        "passwordFieldType": "str"
    },
    {
        "id": "1ded16b82db57616",
        "type": "ui_tab",
        "name": "Admin",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": true
    }
]